# OS
.DS_Store
Thumbs.db

# Logs
*.log
*.pid

# Environment
.env
.env.*

# Python
__pycache__/
*.pyc
.venv/

# Node
node_modules/

# Build
build/
dist/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
.terraform.tfstate.backup
.terraform.tfstate
 terraform-provider-aws_v5.100.0_x5.exe
# Kubernetes
.kube/

# IDE
.vscode/
.idea/

# Caches
.cache/
.pytest_cache/
coverage/
CLAUDE.md
